@{
    ViewData["Title"] = "Home Page";
}

<h2>@TempData["message"]</h2>
<h3>Dữ liệu từ ViewData @ViewData["data"]</h3>
<h3>Dữ liệu từ ViewBag @ViewBag.message</h3>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Tôi sẽ đạt 11 điểm môn NET103</h2>

    <p>Đăng nhập tại đây <a href="/Account/Login">Login here</a>.</p>
    

</div>
